extends layout

block content

  #panel.section
    .container.blue-grey.lighten-4

        // Icon Section
        .row
          .col.s12.m4.l4
            .icon-block.center
              h4.light-blue-text
                //i.material-icons brightness_low
                //i.material-icons wb_sunny
                i.material-icons grid_on
              h5 Paneles
              table.bordered.centered.striped
                thead
                  tr
                    th(data-field='id') Variable
                    th(data-field='value') Valor
                    th(data-field='mount') Magnitud
                tbody
                  tr
                    td Estado
                    td Ok/NoOk
                    td
                  tr
                    td Radiación (in)
                    td #{lectura}
                    td
                  tr
                    td Energía (out)
                    td
                    td Watt
                  tr
                    td Voltaje (out)
                    td
                    td Volt
                  tr
                    td Intensidad (out)
                    td
                    td Ampere
          .col.s12.m4.l4
            .icon-block.center
              h4.light-blue-text
                i.material-icons device_hub
              h5 Reg. de Carga
              table.bordered.centered.striped
                thead
                  tr
                    th(data-field='id') Variable
                    th(data-field='value') Valor
                    th(data-field='mount') Magnitud
                tbody
                  tr
                    td Estado
                    td Ok/NoOk
                    td
                  tr
                    td Carga
                    td Batería/Inversor/Mix
                    td
                  tr
                    td V(in)
                    td
                    td Volt
                  tr
                    td V(out)
                    td
                    td Volt
                  tr
                    td I(in)
                    td
                    td Ampere
                  tr
                    td I(out)
                    td
                    td Ampere

          .col.s12.m4.l4
            .icon-block.center
              h4.light-blue-text
                i.material-icons crop_rotate
              h5 Inversor
              table.bordered.centered.striped
                thead
                  tr
                    th(data-field='id') Variable
                    th(data-field='value') Valor
                    th(data-field='mount') Magnitud
                tbody
                  tr
                    td Estado
                    td Ok/NoOk
                    td
                  tr
                    td V (in)
                    td
                    td Volt
                  tr
                    td V (out)
                    td
                    td Volt
                  tr
                    td I (in)
                    td
                    td Ampere
                  tr
                    td I(out)
                    td
                    td Ampere

        .row
          .col.s12.m4
            .icon-block.center
              h4.light-blue-text
                i.material-icons crop_square
                //i.material-icons flash_on
              h5 Cargas
              table.bordered.centered.striped
                thead
                  tr
                    th(data-field='id') Variable
                    th(data-field='value') Valor
                    th(data-field='mount') Magnitud
                tbody
                  tr
                    td Estado
                    td Ok/NoOk
                    td
                  tr
                    td Instalado
                    td
                    td W/hora
                  tr
                    td V (in)
                    td
                    td Volt
                  tr
                    td V (out)
                    td
                    td Volt
                  tr
                    td I (in)
                    td
                    td Ampere
                  tr
                    td I (out)
                    td
                    td Ampere

          .col.s12.m4
            .icon-block.center
              h4.light-blue-text
                i.material-icons battery_charging_full
              h5 Baterias
              table.bordered.centered.striped
                thead
                  tr
                    th(data-field='id') Variable
                    th(data-field='value') Valor
                    th(data-field='mount') Magnitud
                tbody
                  tr
                    td Estado
                    td Carga/Consumo
                    td
                  tr
                    td % Carga
                    td
                    td
                  tr
                    td V (in)
                    td
                    td Volt
                  tr
                    td V (out)
                    td
                    td Volt
                  tr
                    td I (in)
                    td
                    td Ampere
                  tr
                    td I (out)
                    td
                    td Ampere

          .col.s12.m4
            .icon-block.center
              h4.light-blue-text
                i.material-icons power
              h5 Fuente Convencional
              table.bordered.centered.striped
                thead
                  tr
                    th(data-field='id') Variable
                    th(data-field='value') Valor
                    th(data-field='mount') Magnitud
                tbody
                  tr
                    td Estado
                    td Ok/NoOk
                    td
                  tr
                    td V (in)
                    td
                    td Volt
                  tr
                    td V (out)
                    td
                    td Volt
                  tr
                    td I (in)
                    td
                    td Ampere
                  tr
                    td I (out)
                    td
                    td Ampere
