extends layout

block content
  p Bateria
  p Generacion de energia

  p Barra inferior
  form(method='GET' action='/login')
    button.btn.btn-primary(type='submit') Hotspot
    button.btn.btn-primary(type='submit') Estado
    button.btn.btn-primary(type='submit') Configuracion
