doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Historico
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    style(type='text/css').
      ${demo.css}
    script(type='text/javascript').
      $(function () {

      var lunes = 10;
      var martes = 10;
      var miercoles = 10;
      var jueves = 10;
      var viernes = 10;
      var sabado = 10;
      var domingo = 10;
            
      Highcharts.chart('container', {
      chart: {
      type: 'column'
      },
      title: {
      text: 'Energía generada'
      },
      subtitle: {
      text: 'UTEM 2016-17 - Arduino'
      },
      xAxis: {
      type: 'category',
      labels: {
      rotation: 0,
      style: {
      fontSize: '13px',
      fontFamily: 'Verdana, sans-serif'
      }
      }
      },
      yAxis: {
      min: 0,
      title: {
      text: 'Energia generada (kW)'
      }
      },
      legend: {
      enabled: false
      },
      tooltip: {
      pointFormat: 'Generacion de energia: <b>{point.y:.1f}</b>'
      },
      series: [{
      name: 'Dia',
      data: [
      ['Lunes', lunes],
      ['Martes', martes],
      ['Miercoles', miercoles],
      ['Jueves', jueves],
      ['Viernes', viernes],
      ['Sabado', sabado],
      ['Domingo', domingo]
      ],
      dataLabels: {
      enabled: true,
      rotation: 0,
      color: '#FFFFFF',
      align: 'center',
      format: '{point.y:.1f}', // one decimal
      y: 10, // 10 pixels down from the top
      style: {
      fontSize: '13px',
      fontFamily: 'Verdana, sans-serif'
      }
      }
      }]
      });
      });

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Battery API Demo
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(rel='stylesheet', href='assets/css/demo.css')
  body
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/modules/exporting.js')
    #container(style='min-width: 300px; height: 400px; margin: 0 auto')
    form(method='GET' action='/home')
      button.btn.btn-primary(type='submit') Hotspot
      button.btn.btn-primary(type='submit') Estado
      button.btn.btn-primary(type='submit') Configuracion
