extends layout

block content
    br
    br
    script(type='text/javascript')
      $(function () {
        // get que devuelve json. func hecha en php lado servidor
      var res = $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=large-dataset.json&callback=?', function (data) {
        console.log(res);
      // Create a timer
      var start = +new Date();
      // Create the chart
      Highcharts.chart('container', {
        chart: {
          events: {
            load: function () {
              this.setTitle(null, {
                text: 'Built chart in ' + (new Date() - start) + 'ms'
              });
            }
          },
          zoomType: 'x'
        },
        rangeSelector: {
          buttons: [{
            type: 'day',
            count: 3,
            text: '3d'
          }, {
            type: 'week',
            count: 1,
            text: '1w'
            }, {
            type: 'month',
            count: 1,
            text: '1m'
            }, {
            type: 'month',
            count: 6,
            text: '6m'
            }, {
            type: 'year',
            count: 1,
            text: '1y'
            }, {
            type: 'all',
            text: 'All'
            }],
            selected: 3
        },
        yAxis: {
          title: {
            text: 'Temperature (°C)'
          }
        },
          title: {
            text: 'Hourly temperatures in Vik i Sogn, Norway, 2009-2015'
          },
          subtitle: {
            text: 'Built chart in ...' // dummy text to reserve space for dynamic subtitle
          },
          series: [{
            name: 'Temperature',
            data: data.data,
            pointStart: data.pointStart,
            pointInterval: data.pointInterval,
            tooltip: {
              valueDecimals: 1,
              valueSuffix: '°C'
            }
          }]

          });
        });
      });
    body
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/modules/exporting.js')
    #container(style='min-width: 310px; height: 400px; margin: 0 auto')
    br
    br
    form(method='GET' action='#').center-align
      button.btn.btn-large(type='submit') Hotspot
      button.btn.btn-primary.orange(type='submit') Estado
      button.btn.btn-primary(type='submit') Configuracion
