extends layout

block content
    #index-banner.section.no-pad-bot
      .container
        br
        br
        h1.header.center.orange-text Centro de Datos
        p#lectura.center.orange-text Potencia medida : #{lectura} Watt
        //.row.center
          h5.header.col.s12.light A modern responsive front-end framework based on Material Design
        //.row.center
          a#download-button.btn-large.waves-effect.waves-light.orange(href='http://materializecss.com/getting-started.html') Get Started
        //br
        //br
    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              h2.center.light-blue-text
                i.material-icons group
              h5.center Hotspots
              p.light.center-align
                | Especifica el listado de puntos de conexión disponibles para el monitoreo de datos en unidades locales o remotas de medición fotovoltaica.
                | Seleccione un dispositivo para el acceso a la información.
          .col.s12.m4
            .icon-block
              h2.center.light-blue-text
                i.material-icons flash_on
              h5.center Estado
              p.light.center-align
                | Muestra los valores correspondientes a las variables de potencia, energía generada, estado de carga de baterías y ahorro energético.
          .col.s12.m4
            .icon-block
              h2.center.light-blue-text
                i.material-icons settings
              h5.center Configuración
              p.light.center-align
                | Identificación del dispositivo y valores de regulación
      .section
    footer.page-footer.orange
      .container
        .row
          .col.l6.s12
            h5.white-text Company Bio
            p.grey-text.text-lighten-4
              | We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          .col.l3.s12
            h5.white-text Settings
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
          .col.l3.s12
            h5.white-text Connect
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4

      .footer-copyright
        .container
          | Made by
          a.orange-text.text-lighten-3(href='http://materializecss.com') Materialize
