
extends layout

block content

  div
    p Conexion Local (Estado)
    form(method='GET' action='/estado')
      button.btn.btn-primary(type='submit') Conectar

    p Conexion Remota (Historico)
    form(method='GET' action='/arduino')
      button.btn.btn-primary(type='submit') Conectar

    p Dropdown

    form(method='GET' action='/perfil')
      button.btn.btn-primary(type='submit') Perfil
    form(method='GET' action='/home')
      button.btn.btn-primary(type='submit') Reportar un problema
    form(method='GET' action='/')
      button.btn.btn-primary(type='submit') Cerrar Sesion
    p Barra inferior
    form(method='GET' action='/home')
      button.btn.btn-primary(type='submit') Hotspot
      button.btn.btn-primary(type='submit') Estado
      button.btn.btn-primary(type='submit') Configuracion

    a(href='/signout', class='new-account') Sign Out
