extends layout

block content
    #index-banner.section.no-pad-bot
      .container
        br
        br
        h1.header.center.blue-text Centro de Datos
        //p#lectura.center.orange-text Potencia medida : #{lectura} Watt
        //.row.center
          h5.header.col.s12.light A modern responsive front-end framework based on Material Design
        //.row.center
          a#download-button.btn-large.waves-effect.waves-light.orange(href='http://materializecss.com/getting-started.html') Get Started
        //br
        //br
    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              h2.center.light-blue-text
                i.material-icons group
              h5.center Hotspots
              p.light.center-align
                | Especifica el listado de puntos de conexión disponibles para el monitoreo de datos en unidades locales o remotas de medición fotovoltaica.
              p.light.center-align
                | Seleccione un dispositivo para el acceso a la información.
          .col.s12.m4
            .icon-block
              h2.center.light-blue-text
                i.material-icons flash_on
              h5.center Estado
              p.light.center-align
                | Muestra los valores correspondientes a las variables de potencia, energía generada, estado de carga de baterías y ahorro energético.
          .col.s12.m4
            .icon-block
              h2.center.light-blue-text
                i.material-icons settings
              h5.center Configuración
              p.light.center-align
                | Identificación del dispositivo y valores de regulación.
      .section
    footer.page-footer.blue.lighten-2
      .container
        .row
          .col.l6.s12
            h5.white-text Quién Somos
            p.grey-text.text-lighten-4
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .col.l3.s12
            h5.white-text Recursos
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
          .col.l3.s12
            h5.white-text Título
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4

      .footer-copyright
        .container
          | Programa de Investigación en Radiocomunicación Digital (2016-17)
          a.orange-text.text-lighten-3(href='http://pird.dyndns.org')  PIRD
