extends layout-nonav

block content
    .navbar-fixed
    nav
      .nav-wrapper.orange.darken-1
        a(href='#')
          img.responsive-img(href='/', style='width: 150px', src='../img/neosolar.jpeg')
        //a.brand-logo(href='#!') Logo
        ul.right.hide-on-med-and-down
          li
            a.waves-effect.waves-light.btn.amber.darken-4(href="ingresar") Ingresar
            li
              a.waves-effect.waves-light.btn(href="signup", type='submit', name='btn_login') Crear cuenta
    .section
    main
      center
        img.responsive-img(href='#!', style='width: 500px', src='../img/neosolar.jpeg')

      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(type='text/javascript', src='js/materialize.min.js')
      script(type='text/javascript', src='js/reload-pug.js')
