extends layout

block content

    .section
    main
      center
        img.responsive-img(style='width: 250px;', src='http://i.imgur.com/ax0NCsK.gif')
        .section
        h5.light-blue-text Bienvenido al portal energía
        .section
        .container
          .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
            form.col.s12(method='post', action='/login')
              .row
                .col.s12
              .row
                .input-field.col.s12
                  input#email.validate(type='text', name='username')
                  label(for='email') Usuario
              .row
                .input-field.col.s12
                  input#password.validate(type='password', name='password')
                  label(for='password') Contraseña
                label(style='float: right;')
                  a.indigo-text(href='#!')
                    b Recuperar contraseña
              br
              center
                .row
                  button.col.s12.btn.btn-large.waves-effect.light-blue(type='submit', name='btn_login') Ingresar
        a(href='signup') Crear cuenta
      .section
      .section
