extends layout-nonav

block content
    .navbar-fixed
    nav
      .nav-wrapper.orange.darken-1
        a(href='/')
          img.responsive-img(href='#!', style='width: 150px', src='../img/neosolar.jpeg')
        //a.brand-logo(href='#!') Logo
        ul.right.hide-on-med-and-down
          li
            a.waves-effect.waves-light.btn.amber.darken-4(href="#!") Ingresar
            li
              a.waves-effect.waves-light.btn(href="signup", type='submit', name='btn_login') Crear cuenta
    .section
    main
      center
        img.responsive-img(style='width: 300px', src='../img/neosolar.jpeg')
        //img.responsive-img(style='width: 150px', src='https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg')
        .section
        h5.orange-text Medición Energética Fotovoltaica
        .section
        .container
          .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
            form.col.s12(method='post', action='/login')
              .row
                .col.s12
              .row
                .input-field.col.s12
                  input#email.validate(type='text', name='username')
                  label(for='email') Usuario
              .row
                .input-field.col.s12
                  input#password.validate(type='password', name='password')
                  label(for='password') Contraseña
                label(style='float: right;')
                  a.light-blue-text(href='#!')
                    b Recuperar contraseña
              br
              center
                .row
                  button.col.s12.btn.btn-large.waves-effect.orange.lighten-1(type='submit', name='btn_login') Ingresar

        #message
        if message
        h1.text-center.error-message #{message}

      .section
      .section

      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(type='text/javascript', src='js/materialize.min.js')
      script(type='text/javascript', src='js/reload-pug.js')
