extends layout

block content

  div
    p Conexion Local (Estado)
    form(method='GET' action='/estado')
      button.btn.btn-primary(type='submit') Conectar

    p Conexion Remota (Historico)
    form(method='GET' action='/historico')
      button.btn.btn-primary(type='submit') Conectar

    p Dropdown
    form(method='GET' action='/')
      button.btn.btn-primary(type='submit') Perfil
      button.btn.btn-primary(type='submit') Reportar un problema
      button.btn.btn-primary(type='submit') Cerrar Sesion

    p Barra inferior
    form(method='GET' action='/login')
      button.btn.btn-primary(type='submit') Hotspot
      button.btn.btn-primary(type='submit') Estado
      button.btn.btn-primary(type='submit') Configuracion
