extends layout

block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title AppEnergía
          div.account-wall
            #user
            h1.text-center.login-title Welcome #{user.username}. Check your details below:
            div.signup-wall
              ul.user-details
                li Usuario
                li #{user.username}
                li Email
                li #{user.email}
                li Password
                li #{user.password}
            form(method='GET' action='/home')
              button.btn.btn-primary(type='submit') Hotspot
              button.btn.btn-primary(type='submit') Estado
              button.btn.btn-primary(type='submit') Configuracion
