extends layout-nonav

block content
    div.container
      div.row
        div.col-sm-6.col-md-4
            div.signup-wall.center-align
              img.responsive-img(style='width: 300px', src='../img/neosolar.jpeg')
              h5.orange-text Registro de Usuario
              form(class='form-signin', action='/signup', method='POST')
                input(type='text', name='username', class='form-control', placeholder='Nombre',required, autofocus)
                input(type='email', name='email', class='form-control', placeholder='Email',required)
                input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
                button(class='btn btn-lg btn-primary btn-block', type='submit') Registrar
                p
                a(href='/', class='text-center') Volver
                span.clearfix
            #message
              if message
                h1.text-center.error-message #{message}
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='js/materialize.min.js')
    script(type='text/javascript', src='js/reload-pug.js')
